.App {
  position: relative;
  height: 100%;
}
.BodyCS {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
    min-height: max-content;
}
.Layout {
  height: 100%;
    display: flex;
    flex-direction: column;
}
